{% spaceless %}<!DOCTYPE html>
<html{% if LANGUAGE_CODE %} lang="{{ LANGUAGE_CODE }}"{% endif %}>
  <head>
    {% with title=settings.title %}
      {% block head %}
        {% include 'djangopress/head.html' %}
      {% endblock %}
    {% endwith %}
  </head>
  <body>
    {% block menu %}
      {% with menu_name='Main' %}
        {% include 'djangopress/menu.html' %}
      {% endwith %}
    {% endblock %}
    {% block header %}
      {% include 'djangopress/header.html' %}
    {% endblock %}
    <div class="container">
      <div class="row">
        {% block content %}
        {% endblock %}
        {% block sidebar %}
          {% include 'djangopress/sidebar.html' %}
        {% endblock %}
      </div>
    </div>
    <footer class="blog-footer">
      {% block footer %}
        {% include 'djangopress/footer.html' %}
      {% endblock %}
    </footer>
    {% block scripts %}
      {% include 'djangopress/scripts.html' %}
    {% endblock %}
  </body>
</html>
{% endspaceless %}
