{% spaceless %}<!DOCTYPE html>
<html lang="es">
  <head>
    {% block head %}
      {% include 'djangopress/_head.html' %}
    {% endblock %}
  </head>
  <body>
    <div class="container">
      <div class="blog-header">
        <h1 class="blog-title"><a href="{% url 'home' %}">{{ title }}</a></h1>
        <p class="lead blog-description">{{ tagline }}</p>
      </div>
      <div class="row">
        {% block content %}
        {% endblock %}
        {% block sidebar %}
        {% endblock %}
      </div>
    </div>
    <footer class="blog-footer">
      {% block footer %}
        {% include 'djangopress/_footer.html' %}
      {% endblock %}
    </footer>
    {% block scripts %}
      {% include 'djangopress/_scripts.html' %}
    {% endblock %}
  </body>
</html>
{% endspaceless %}
