{% extends 'djangopress/base.html' %}

{% block head %}
  {% with title=post.title|striptags|add:" - "|add:title %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block content %}
<div class="col-sm-8 blog-main">
  <div class="blog-post" id="{{ post.pk }}">
    <h2 class="blog-post-title">{{ post.title|safe }}</h2>
    <p class="blog-post-meta">
      <span class="glyphicon glyphicon-calendar"></span>
      {{ post.creation_date.date }} by 
      <span class="glyphicon glyphicon-user"></span>
      {{ post.author }}
    </p>
    <div class="entry clearfix">
        {{ post.content|safe }}
    </div>
    <p class="blog-post-meta">
      <span class="glyphicon glyphicon-folder-open"></span>
      Posted in {{ post.category }}
    </p>
  </div>
</div>
{% endblock %}
