*.sqlite3
*.pyc
__pycache__
node_modules
assets
libs
*.swp
.sass-cache
.venv
.cache
.coverage
media
.testmondata
.tmontmp/
.tox
.coverage.*
djangopress/templates/djangopress/dashboard/
.python-version
media
