argh==0.26.2
astroid==1.4.6
colorama==0.3.7
coverage==4.1
Django==1.9.7
django-debug-toolbar==1.4
django-extensions==1.6.7
docopt==0.6.2
lazy-object-proxy==1.2.2
model-mommy==1.2.6
pathtools==0.1.2
py==1.4.31
pylint==1.5.6
pylint-django==0.7.2
pylint-plugin-utils==0.2.3
pytest==2.9.2
pytest-cov==2.2.1
pytest-django==2.9.1
pytest-pylint==0.5.0
pytest-testmon==0.8.2
pytest-watch==4.1.0
PyYAML==3.11
six==1.10.0
sqlparse==0.1.19
watchdog==0.8.3
wrapt==1.10.8
